* {
  box-sizing: border-box;
}

body {
  background: #eef3f9;
  background-image: url(../gallery/7.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

h1 {
  font-size: 50px;
  color: AliceBlue;
  text-align: center;
  text-shadow: 2px 2px 8px #304961;
  margin: 34px 0 50px;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: auto;
}

.cards {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0 0 50px;
  gap: 50px;
}

.cards-item {
  width: 90%;
  min-width: 300px;
}

.card {
  background: GhostWhite;
  border-radius: 16px;
  box-shadow: 2px 2px 12px #566f7e;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 20px #27475f;
}

.card-visual {
  display: block;
  position: relative;
  padding-top: 80%;
  margin: 0 0 15px;
  overflow: hidden;
}

.card-visual img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: transform 1.5s 0.5s ease-in-out;
}

.card-visual:hover img {
  transform: scale(1.2);
}

.card-content {
  padding: 0 20px 20px;
}

.card-text {
  display: -webkit-box;
  height: 55px;
  line-height: 1.15;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-text > p {
  color: #7f8c9b;
  margin: 0;
}

.card-content > time {
  color: #6d7987;
  font-size: 14px;
}

.button {
  display: block;
  width: max-content;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #0077ff;
  background: #e0efff;
  border-radius: 50px;
  padding: 12px 24px;
  margin: 18px auto 0;
  transition: color 0.3s, background 0.3s, transform 0.3s;
}

.button:focus,
.button:hover {
  color: #eef6ff;
  background: #0077ff;
  transform: scale(1.05);
}

footer {
  text-align: center;
  color: #e0efff;
  padding: 20px 0 50px;
}

@media (min-width: 475px) {
  .cards-item {
    width: 75%;
  }
}

@media (min-width: 675px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .cards-item {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}